<%= image_tag @user.image_url(:thumb).to_s %><br />
<p>What's your name?</p>
<%= @user.first_name %> <%= @user.family_name %> 
<p>Where are you from?</p>
<%= @user.location %>
<p>Where do you work?</p>
<%= @user.work %>
