<%= simple_form_for(@venue) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :password %>
	<%= f.input :password_confirmation %>
    <%= f.input :email %>
    <%= f.input :image %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :postcode %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
