<%= simple_form_for @roundtable, :html => { :class => 'form-horizontal' } do |f| %>

<%= f.error_notification %>
<%= f.input :topic %>
<%= f.input :number_of_attendees, :as => :radio_buttons, :collection => 4..8 %>
<%= f.input :kick_off, :label => "Time", :as => :time, :minute_step => 5 %>
<%= f.input :dinner_on, :label => "Date", :as => :date, :start_day => Date.today.day, :start_month => Date.today.month, :start_year => Date.today.year, :order => [:day, :month, :year] %>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
